# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Python
.venv/
env/
*.pyc
__pycache__/

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust
/target/

# Misc
*.log
dist/
build/
/.cache