*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(100, 155, 100);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
}
